.R*
*.fa
maizev3*.conf
*zip
*.tsv
*.job
BATCH_*
*lnk
python
blast_out
datasets
examples
*.pyc
*.png
*.jpg
*.svg
plot_data
plots
*.tdf
BATCH_ERRORS
BATCH_OUTPUT
*.PDF
*.pdf
*~
*.log
*.ppt
*.txt
.obo
go.obo.data
blastdb
eval
xml
*.asn
gaf
*.gz
*xml
*gaf
gograph
*csv
SBATCH*
*obo
*xls
.git2
*ods
TAIR10*
*.len
*tmp
